@import '../../styling/colors';
@import '../../styling/fonts';
@import '../../styling/global';

/*Title stile*/
.title{
  align-self: center;
}

/*Helper component*/

.helper {
  padding: 0;
  margin: 0;
}

/*Recipepage*/

.recipe{
  font-size: 32px;
  margin: 0 0 5px 0;
  line-height: 32px;
  flex-basis: 100%;
  flex-shrink: 0;
  text-align: center;
}

/*Homepage*/

.homepage {
  text-align: center;
  font-size: 20px;
  font-family: $font;
  width: $recipe-container-width;
  margin-top: 0;
  border: solid 1px;
  border-top: 0;
  border-radius: 0 0 20px 20px;
  box-shadow: $box-shadow;
}

.homepage.light {
  color: $purple-light;
  border-color: $purple-light;
}

.homepage.dark {
  color: $magnolia;
  border-color: $purple-dark;
}

/*Not found page*/

.not-found {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.not-found.light {
   color: $purple-light;
 }

.not-found.dark {
  color: $purple-dark
}