@import '../../../styling/colors';
@import '../../../styling/fonts';

/*Dropdown*/
.dropdown {
  /*Display and position*/
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  width: 100px;
  text-align: center;
  top:1%;
  left: calc(100% - 200px);

  /*Element styling*/
  border-radius: 20px ;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0;

  /*Font styling*/
  font-size: $font-size-dropdown-menu;
  font-family: $font;
  font-weight: $font-weight-regular;
}

.dropdown__text.light, .dropdown.light{
  color: $magnolia;
  background-color:$purple-light;

}

.dropdown__text.dark, .dropdown.dark {
  color: $black;
  background-color:$purple-dark;

}

.dropdown.light{
  border: solid 1px $purple-light;
}

.dropdown.dark{
  border: solid 1px $purple-dark;
}


