@import '../../styling/colors';

.background {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-attachment: fixed;
}

.image{
  opacity: 60%;
  height: 100%;
  background-repeat: repeat-y;
}

.none.background {
  display: none;
}


.background.light {
  background-color: $magnolia;
}

.background.dark {
  background-color: $black;
}